---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Championship from "@/components/Championship.astro";
import Relive from "@/components/Relive.astro";
import Clubs from "@/components/Clubs.astro";
import Companies from "@/components/Companies.astro";
import FollowUs from "@/components/FollowUs.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Mister Expensive Studio">
  <Hero />
  <main>
    <Championship />
    <Relive />
    <Clubs />
    <Companies />
    <FollowUs />
    <Contact />
  </main>
</Layout>
