---
import LogoTexto from "@/components/common/LogoText.astro";
---

<section
  id="inicio"
  class="relative grid h-96 w-full place-content-center transition-all"
>
  <img
    class="absolute -z-10 h-full w-full object-cover object-center"
    src="/hero-bg.jpg"
    alt="Fondo Mr Expensive Studio"
  />
  <div class="m-auto grid justify-items-center gap-6">
    <LogoTexto class="w-3/4 text-white md:w-[500px]" />
  </div>
</section>
