---
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }

  html {
    font-family: "Inter Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    color: #222;
  }

  p {
    line-height: 1.7;
    text-wrap: pretty;
  }
</style>
